tasks_*
glove.*
__pycache__/
.ipynb_checkpoints/
data/
log/
logs/
checkpoint/
samples/
style_transfer/pre_trained_model/*
style_transfer/results/*.jpg
*.jpg
!style_transfer/results/regata*
!style_transfer/regata.jpg
!style_transfer/images/*.jpg
